
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

p{background-color: rgb(255, 145, 0);}
h1{background-color: blue;}
font{background-color: rgb(30, 210, 120);}
